/* стили шрифтов 
1. Roboto Regular
2. Roboto Bold
3. Roboto Medium
4. c
5. Roboto Black*/

/* 
colors text:
    black:  #212121
            #757575
    blue:   #2196F3
    white:  #FFFFFF
            rgba(255, 255, 255, 0.6);
background-colors: #F5F4FA;
            #2F303A
*/

:root {
  --prymary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --prymary-white-color: #ffffff;
  --title-white-color: rgba(255, 255, 255, 0.6);
  --background-color-grey: #f5f4fa;
  --background-color-night: #2f303a;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--prymary-text-color);
  font-size: 14px;
}

.container {
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* index */
/* header */
/* logo */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  color: var(--accent-color);
}

.logo-half {
  color: #000000;
}

.logo:hover,
.logo:focus {
  color: var(--title-text-color);
}

/* logo */

/* навигация */
.header {
  /* background-color: #2196f3; */
}

.links-contact {
  display: flex;
  margin-left: auto;
}

.links-nav {
  display: flex;
  margin-left: 94px;
}

.links-nav-marg + .links-nav-marg {
  margin-left: 50px;
}

.head-line {
  display: flex;
  align-items: center;
}

.links-nav-text {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: var(--prymary-text-color);
}

.links-nav-text:hover,
.links-nav-text:focus {
  color: var(--accent-color);
}

.links-contact-text {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.142;
  color: var(--title-text-color);
}

.links-contact-text:hover,
.links-contact-text:focus {
  color: var(--accent-color);
}

.visited {
  color: var(--accent-color);
}

/* навигация */
/* header */

/* main */
/* section1 */
.banner-night {
  background-color: var(--background-color-night);
}
.section-hero {
  padding-top: 200px;
  padding-bottom: 200px;
}

.title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 694px;
  text-align: center;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--prymary-white-color);
  background-color: var(--background-color-night);
  letter-spacing: 0.06em;
}

.button {
  display: block;
  padding: 10px 32px;
  min-width: 72px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;

  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  color: var(--prymary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  border-radius: 4px;
  letter-spacing: 0.06em;
}

.button:hover,
.button:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* section1 */

/* section2 */

.section-benefits {
  padding-top: 94px;
  padding-bottom: 94px;
}

.text-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.benefits {
  display: flex;
}

.benefits-li + .benefits-li {
  margin-left: 30px;
}

.benefits-li {
  width: 270px;
}

.benefits-tittle {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.benefits-text {
  margin-top: 10px;

  font-weight: 400;
  line-height: 1.71;
  color: var(--title-text-color);
}

/* section2 */

/* section3 */

.section-galery {
  padding-bottom: 94px;
}

.work {
  display:flex;
}

.work-title {
  display: block;
  width: 376px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.66;
}

.work-li + .work-li{
  margin-left: 30px;
}

/* section3 */

/* section4 */
.banner-grey {
  background-color: var(--background-color-grey);
}

.section-teams {
  padding-top: 94px;
  padding-bottom: 94px;
}

.box-teams {
  padding-top: 30px;
  padding-bottom: 30px;
}

.teams {
  display: flex;
  text-align: center;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
}

.teams-title {
  display: block;
  width: 264px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  text-align: center;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.66;
}

.teams-li {
  /* display: block;
  margin-left: auto;
  margin-right: auto; */
  text-align: center;

  background-color: var(--prymary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.teams-li + .teams-li {
  margin-left: 30px;
}

.teams-name {
  font-weight: 500;
}

.teams-text {
  color: var(--title-text-color);
}

/*========== section4 ==========*/
/*========== main ==========*/

/* ========== footer ==========*/
.ft-mrg {
  padding-top: 60px;
  padding-bottom: 60px;
}

.ft-address {
  margin-top: 20px;
}

/* .contact-li + .contact-li {
  margin-top: 8px;
} */
.logo-half-foot {
  color: var(--prymary-white-color);
  background-color: #2f303a;
}

.contact {
  font-weight: 400;
  line-height: 1.71;
}

.contact-adres {
  display: inline-block;
  padding-top: 4px;
  padding-bottom: 4px;

  color: var(--prymary-white-color);
  background-color: var(--background-color-night);
}

.contact-link {
  display: inline-block;
  padding-top: 4px;
  padding-bottom: 4px;

  color: var(--title-white-color);
  background-color: var(--background-color-night);
}

.contact:hover,
.contact:focus {
  color: var(--accent-color);
}

/*========== footer ==========*/
/* ========== index ==========*/

/*========== portfolio ==========*/
.haed-bord {
  border: 1px solid #ececec;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.filter-btn {
  display: block;
  padding: 6px 22px;
  min-width: 72px;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.875;
  background-color: var(--background-color-grey);
  border-radius: 4px;
  letter-spacing: 0.03em;

  cursor: pointer;
}

.filt-btn-marg + .filt-btn-marg {
  margin-left: 8px;
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--prymary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

.caren {
  color: var(--prymary-white-color);
  background-color: var(--accent-color);
}

.box-button {
  margin-bottom: 50px;
}

.jobs {
  display: flex;
  flex-wrap: wrap;
}

/* .jobs-li + .jobs-li {
  margin-left: 30px;
} */
.jobs-li {
  width: 370px;
  height: 404px;
  margin-right: 30px;
  margin-bottom: 30px;

  border: 1px solid #eeeeee;
}

.jobs-li:nth-child(3n) {
  margin-right: 0;
}

.jobs-li:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.box-job-decrition {
  padding: 20px 24px;
}

.works-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.works-decrition {
  margin-top: 4px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  color: var(--title-text-color);
}

/* ========= portfolio ==========*/
